<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<h1>This is App component</h1>

<!-- <a routerLink=""> Страница магазина</a>
<a routerLink="/event">  event</a>
<a routerLink="/mycomponent">  products</a>
<a routerLink="/products">  mycomponent</a> -->


<!-- <hr> -->


<!-- <app-counter></app-counter> -->


<!-- <router-outlet></router-outlet> -->


<app-users></app-users>